@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  background-color: #202A3C;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

@media (max-width: 990px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 96% !important;
  }
}

.header-row-fix {
  background-color: #202A3C;
  color: white;
}

.header-row-fix img.logo {
  padding-top: 15px;
  margin-bottom: 20px;
}

@media (max-width: 685px) {
  .header-row-fix img.logo {
    width: 20%;
    margin-bottom: -27px;
  }
}

.header-row-fix .fix-right {
  float: right;
  display: inline-block;
  list-style: none;
  padding-top: 30px;
}

.header-row-fix ul li {
  font-size: 20px;
}

.header-row-fix ul li a {
  font-family: "Raleway", sans-serif;
  color: white;
  list-style: none;
  padding-right: 45px;
  font-weight: bold;
  text-decoration: none !important;
}

@media (max-width: 685px) {
  .header-row-fix ul li a {
    padding-right: 10px;
    font-size: 14px;
    margin-bottom: -51px;
  }
}

.header-row-fix ul li a:hover {
  color: #65E2D9;
  transition: fade-in 0.1s;
}

.header-row-fix ul li img {
  margin-top: -5px;
}

.header-row-fix li,
.header-row-fix a {
  display: inline;
}

.dark-mode {
  background-color: white;
  color: black;
}

.hero-intro .col-md-12 {
  background-color: #202A3C;
}

.hero-intro img {
  display: flex;
  margin: auto;
  margin-top: 5em;
  max-width: 80%;
}

.hero-intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-align: center;
  margin: auto;
  width: 80%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

@media (max-width: 990px) {
  .hero-intro h1 {
    width: 100%;
  }
}

.hero-intro p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 60%;
  margin-bottom: 6rem;
}

@media (max-width: 990px) {
  .hero-intro p {
    width: 100%;
  }
}

.hero-intro button {
  background-color: #65E2D9;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  margin: auto;
  display: flex;
  padding: 10px 70px;
  font-size: 18px;
  margin-bottom: 5rem;
}

.info {
  background-color: #202A3C;
}

.info .col-md-6 {
  text-align: center;
}

.info .col-md-6 h2 {
  color: #fff;
  font-size: 19px;
  margin-bottom: 2rem;
}

.info .col-md-6 h2.last-h2 {
  margin-bottom: 37px;
}

.info .col-md-6 p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: auto;
  width: 75%;
}

@media (max-width: 990px) {
  .info .col-md-6 p {
    width: 100%;
  }
}

.info .col-md-6 img {
  margin-top: 50px;
}

.stay-productive {
  margin-top: 8em;
  background-color: #181F2A;
}

.stay-productive .productive-text h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-align: center;
  font-weight: bold;
  display: block;
  margin-top: 3em;
  text-align: left;
  width: 70%;
  margin-bottom: 3rem;
}

@media (max-width: 990px) {
  .stay-productive .productive-text h1 {
    width: 100%;
  }
}

@media (min-width: 330px) and (max-width: 996px) {
  .stay-productive .productive-text h1 {
    text-align: center;
    width: 100%;
  }
}

.stay-productive .productive-text p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1em;
  text-align: left;
  width: 100%;
}

@media (max-width: 990px) {
  .stay-productive .productive-text p {
    width: 100%;
  }
}

@media (max-width: 990px) {
  .stay-productive .productive-text p {
    text-align: center;
  }
}

.stay-productive .productive-text a {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  color: #65E2D9;
  display: block;
  text-align: left;
  padding-bottom: 3px;
  width: fit-content;
}

@media (max-width: 990px) {
  .stay-productive .productive-text a {
    width: 100%;
  }
}

@media (max-width: 990px) {
  .stay-productive .productive-text a {
    text-align: center;
  }
}

.stay-productive .quotes {
  margin-top: 20em;
  margin-bottom: 10em;
}

.stay-productive .quotes .quote-img::before {
  content: url("../images/bg-quotes.png");
  top: -50px;
  position: absolute;
}

.stay-productive .quotes .col-md-12 {
  background-color: #202A3C;
  padding: 2em;
  margin-bottom: 3em;
  box-shadow: 13px 7px 53px -5px #202a3c;
}

.stay-productive .quotes .col-md-12 p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-bottom: 3rem;
}

@media (max-width: 990px) {
  .stay-productive .quotes .col-md-12 p {
    width: 100%;
  }
}

.stay-productive .quotes .col-md-12 img {
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}

.stay-productive .quotes .col-md-12 span {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-left: 5px;
}

@media (max-width: 990px) {
  .stay-productive .quotes .col-md-12 span {
    width: 100%;
  }
}

.stay-productive .quotes .col-md-12 small {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-left: 48px;
  margin-top: -14px;
}

@media (max-width: 990px) {
  .stay-productive .quotes .col-md-12 small {
    width: 100%;
  }
}

.stay-productive .get-early-access {
  background-color: #202A3C;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 13px 7px 53px -5px #202a3c;
  top: 225px;
  padding: 12px;
}

.stay-productive .get-early-access h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3rem;
}

@media (max-width: 990px) {
  .stay-productive .get-early-access h1 {
    width: 100%;
  }
}

.stay-productive .get-early-access p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  width: 70%;
  margin: auto;
}

@media (max-width: 990px) {
  .stay-productive .get-early-access p {
    width: 100%;
  }
}

.stay-productive .get-early-access .form-fields {
  width: auto;
  margin: 2em auto;
  display: table;
}

@media (max-width: 636px) {
  .stay-productive .get-early-access .form-fields {
    width: 50%;
  }
}

.stay-productive .get-early-access .form-fields button {
  background-color: #65E2D9;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  padding: 8px 26px;
}

.stay-productive .get-early-access .form-fields input {
  width: 345px;
  padding: 8px;
  margin-right: 20px;
  border-radius: 20px;
  border: none;
}

@media (max-width: 846px) {
  .stay-productive .get-early-access .form-fields input {
    width: auto;
  }
}

@media (max-width: 662px) {
  .stay-productive .get-early-access .form-fields input {
    margin-bottom: 1em;
  }
}

.stay-productive .get-early-access .form-fields small {
  display: block;
  padding: 2px;
  margin-top: 11px;
}

.stay-productive .error {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  color: red;
  display: block;
  font-weight: bold;
  padding: 5px;
}

@media (max-width: 990px) {
  .stay-productive .error {
    width: 100%;
  }
}

.stay-productive .success {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  color: #15ff00;
  display: block;
  font-weight: bold;
  padding: 5px;
}

@media (max-width: 990px) {
  .stay-productive .success {
    width: 100%;
  }
}

.footer {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #0B1523;
  padding-top: 8em;
  margin-top: -3em;
}

@media (max-width: 990px) {
  .footer {
    width: 100%;
  }
}

.footer .col-md-3 {
  margin-bottom: 4rem;
}

.footer img {
  margin: 3em 0 3em 0;
}

.footer i {
  padding-right: 5px;
}

.footer p > a {
  color: white;
  padding-bottom: 5px;
  text-decoration: none;
  word-break: break-all;
}

.footer p > a:hover {
  color: #65E2D9;
  transition: fade-in 0.1s;
}
/*# sourceMappingURL=app.css.map */