//Colours

$darkBlue : #1C2431;
$mainBackground : #181F2A;
$footerBackground : #0B1523;
$testimonialsBackground : #202A3C;

// text colours 
$cyan : #65E2D9;
$blue : #339ECC;
$lightRed : #FF4242;


//typography 
$myFontSize : 18px;
$lineHeight: 1.5;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
//Headings, Call-to-actions, Header Navigation
$fontFamily : 'Raleway', sans-serif;
$fontFamily2 : 'Open Sans', sans-serif;;


//breakpoints
$mobileL : 990px;
$mobileS : 685px;


