body {
    font-family: $fontFamily2 !important; 
    font-size: $myFontSize;
    line-height: $lineHeight;
    background-color: $testimonialsBackground;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 75% !important;
}